html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  overflow: hidden;
}

#pano {
  width: 300px;
  height: 200px;
}

.header {
  background-color: black;
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.listings {
  width: 25%;
  background-color: black;
 }

.map {
  width: 75%;
  xheight: 100%;
  height: 97vh;
}

.full
{
  width: 100%;
}

.filter {
  color: white;
  background-color: blue;
  text-align: center;
  margin: auto;
  width: 25%;
}

.filter-value {
  width: 75%;
}

.location {
  color: #999;
}

h1 {
  background-color: black;
  color: gray;
  margin: 0;
  padding: 10px;
}

.all-locations {
  height:92vh;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
}

li {
  list-style-type: none;
  cursor: default;
  margin: 5px;
}

li:hover {
  color: white;
}

.title {
  width: 90%;
  color: #999;
  text-align: center;
  font-size: 3em;
}

// Hamburger icon
.hamburger {
  display: inline-block;
  cursor: pointer;
  width: 10%;
}

.bar {
  width: 35px;
  height: 5px;
  color: white;
  background-color: white;
  margin: 6px 0;
}